fastapi==0.115.8
uvicorn[standard]==0.34.0
opencv-python==4.11.0.86
numpy==2.1.1
ultralytics==8.3.80
twilio==9.4.4
python-dotenv==1.0.1
python-multipart==0.0.20
requests==2.32.3
sqlalchemy==2.0.31
psycopg2-binary==2.9.9
httpx==0.27.0
